* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(/img/img/salto.jpg);
    background-repeat: no-repeat;
}
form {
  height: 500px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  background: linear-gradient(rgb(49, 222, 49),green,rgb(49, 222, 49));
}

div {
  justify-content: center;
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="text-1"],
input[type="mensaje"] {
  width: 300px;
  height: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
button {
    width: 100px;
    height: 50px;
    font-size: 18px;
    background-color: #256527;
    color: white;
    border: none;
    border-radius: 10px;
    transition: width 0.3s, background-color 0.3s;
}
button:hover {
    cursor: pointer;
    width: 160px;
    background-color: #075015;
}
header {
    display: flex;
    margin-bottom: 40px;
    height: 110px;
    width: 100%;
    background-color: #256527;
}
.logo {
    position: absolute;
    top: 10px;
    left: 15px; 
    width: 90px;
    height: 90px;
    background-image: url(/img/Logo.png);
    background-position: center;
    background-size: cover;
    border-radius: 100px;
  }
  footer {
    font-size: 1.2em;
    background-color: #4c4444;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  


  