* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-image: url(../img/close-up-shiny-freshly-picked-blackberries.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
}
form {
  height: 520px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 95px;
  text-align: center;
  background: rgb(96,96,96,.4);
  backdrop-filter: blur(10px);
  border-radius:  10px;
  
}

div {
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
 
}
.mensaje::placeholder{
  color: white;
}
label::placeholder{
  display: block;
  font-weight: bold;
  color: white;

}

input { 
  background-color: transparent;
  outline: none; 
  border: none;
  border-bottom: 2px solid rgb(47, 70, 201);
  color: #ffffff;
  margin-bottom: 40px;
}


input[type="text"],
input[type="email"] {
  width: 300px;
  padding: 5px;
  border-radius: 3px;
}
input[type="text-1"],
input[type="mensaje"] {
  width: 300px;
  height: 20px;
  padding: 5px;
  border-radius: 3px;
  
}
button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #0f2f88;
    color:   #3168ff;
    border:  5px solid   #294eb6;
    border-radius: 30px;
    

}
button:hover {
    cursor: pointer;
    transition: 200ms;
    border:5px solid   #1044d3;
    color:   #0044ff ;
}
  header {
      display: flex;
      margin-bottom: 40px;
      height: 100px;
      width: 100%;
  }
.logo {
    position: absolute;
    top: 10px;
    left: 15px; 
    width: 90px;
    height: 90px;
    background-image: url(../img/Logo.png);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
  }
  h3{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #0044ff;
    font-size: 1.3em;
  }
.box-autores{
    font-size: 1.2em;
    color: #fff;
    text-align: center;
}
.autores{
  text-align: center;
  display: inline-block;
  margin : 15px;
  margin-right: 50px ;
 
  margin-left: 100px;
}