* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/Colombia-prioriza-lista-de-productos-agricolas-con-destino-al-Peru-1.JPG);
    background-attachment: fixed;
    background-size: cover;
}
body::before{
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0%;
    left: 0;
    top: 0;
    opacity: 0.5;
}
.iniciarsecion {
    display: flex; /* Cambio importante: usar flexbox */
    flex-direction: column; /* Alinear elementos verticalmente */
    align-items: center; /* Alinear elementos horizontalmente */
    border-radius: 5%;
    position: absolute;
    top: 30%;
    left: 50%; /* Ajustar a 50% para centrar horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    width: 320px;
    background-color: 	#FCD0B4;
    height: 45vh;
}